---
import BlogLayout from '../layouts/BlogLayout.astro';

const content = {
  title: 'Home Page'
}
---

<BlogLayout content={content}>
	<main>
    <h1>Welcome to eMDi94 portfolio</h1>
	</main>
</BlogLayout>
