---
import BlogLayout from '../layouts/BlogLayout.astro';
import Hero from '../components/Hero.astro';

const content = {
  title: 'Home Page'
}
---

<BlogLayout content={content}>
  <Hero />
  <div class="rounded-lg bg-yellow-200 dark:bg-zinc-500 px-4 py-2 mt-6 text-center">
    Hello everyone. I'm a software developer based in Reggio Emilia, Italy.
  </div>
</BlogLayout>
