---
import BlogLayout from "../layouts/BlogLayout.astro";
import Hero from "../components/Hero.astro";
import WelcomeMessage from "../components/WelcomeMessage.astro";
import AboutMe from "../components/AboutMe.astro";
import Biography from "../components/Biography.astro";
import Programming from "../components/Programming.astro";
import Contacts from "../components/Contacts.astro";
import Interests from "../components/Interests.astro";
---

<BlogLayout title="Home Page">
  <Hero />
  <WelcomeMessage />
  <div class="flex flex-col gap-4 pt-4">
    <AboutMe />
    <Biography />
    <Programming />
    <Interests />
    <Contacts />
  </div>
</BlogLayout>
