---
import Title from "./Title.astro";
---

<div class="flex flex-col">
  <Title title="About me" />
  <p class="text-justify pt-2">
    I'm Marco, a software developer/engineer based in Italy. I'm 29 years old. <br />
    I really love programming, to me it's a challenge and a never ending journey towards knowledge. I think that, in software development,
    there are always chances to improve and to learn something new, to innovate and to compare ideas with other people. <br />
    I love working in team and discussing my ideas with my team-mates, to ensure that we can work peacefully and deliver great results. <br />
    Right now, I'm working as a full-time employee in a software house based in Reggio Emilia and I fill the role of team leader
    of a team which works on a product of the company. We work on a niche software, but it has its own challenges and problems
    that we try to solve to help our customers.
  </p>
</div>
