---
import { FaLinkedin, FaGithub } from 'react-icons/fa';
---

<div class="w-full flex flex-col mt-5">
  <p class="text-3xl underline">
    Contacts
  </p>
  <ul class="mt-2 list-inside pl-3">
    <li class="flex gap-2 items-center">
      <FaLinkedin />
      <a href="https://www.linkedin.com/in/marco-dalai-9a6134195/" target="_blank" class="hover:underline cursor-pointer">Marco Dalai</a>
    </li>
    <li class="flex gap-2 items-center">
      <FaGithub />
      <a href="https://github.com/eMDi94" target="_blank" class="hover:underline cursor-pointer">eMDi94</a>
    </li>
  </ul>
</div>