---
import Section from "./Section.astro";
---

<Section title="Contacts">
  <p class="font-semibold pt-2">
    Following are my contacts. Feel free to reach out to me if you feel like it.
  </p>
  <ul class="list-disc list-inside space-y-1">
    <li><span class="font-semibold">Email:</span> mdalai2394@gmail.com</li>
    <li><span class="font-semibold">Github:</span> <a class="hover:underline" href="https://github.com/eMDi94">eMDi94</a></li>
  </ul>
</Section>
