---
import Section from "./Section.astro";
import Card from "./Card.astro";
---

<Card>
  <Section title="Personal Interesets">
    <p class="text-justify pt-2">
      Other than programming, I have other interesets. <br />
      I define myself as a Nerd, so I have very nerdy interesets. I like listening to music, playing videogames and reading manga. <br />
      When I need to relieve some stress, I play to my PS5. My favourite games are the ones of Formula 1 series. I really like
      playing in carreer mode and doing full race, so I can decide on the strategies and make them so I can influence the race. <br />
      I also like to play some adventure games when I find someone that I really like. <br />
      Reading manga is a hobby that I developed in my 20's. The first manga that made me fall in love with them was Fairy Tail.
      In my youth, I watched a lot of animes, but I never developed the passion to read manga. But something triggered in me, so I started
      reading them. <br />
      I also follow some sports. Unlike many of the Italians, I don't like football. I am a big fan of Ferrari and Valentino Rossi, but I also
      follow some US Sports like NFL and NBA.
    </p>
  </Section>
</Card>
