---
import Section from "./Section.astro";
---

<Section title="Programming">
  <p class="pt-2 text-justify">
    I started my programming adventure back in my third year of high school using Visual Basic. During the years on high school
    I also learned SQL and HTML, and, on the final year, I presented a web site built with ASP.NET as project for the exams. <br />
    When I entered university, I started to learn C, C++ and Java, shifting from procedural language to OOP programming and thinking. <br />
    I also learned Python since I studied Machine Learning and Computer Vision. I really liked those arguments, but I haven't been
    able to find a job in which those skills were required, so I don't have a working experience on those fields, but only self taught
    notions (I never stopped learning and keeping myself informed on innovation on those fields, especially when ML is used in
    Computer Vision). <br />
    While I was using OOP language, I felt something was off for me. I didn't find myself satisfied with OOP programming.
    Then I discovered functional programming. I fell in love with it at first sight. It wasn't a language in particular, but the
    ideas of functional programming that caught me. Therefore, I started with learning the principle and the thoery of it, then shifting
    to learning a functional programming language or applying functional patterns to other languages. <br />
    At that time, I had to make a choice: learning functional programming or learning ML? I chose ML, so i put on hold functional
    programming. It was only when I started working at my current job that I found a colleague that loved FP and encouraged me to learn
    Scala Language. <br />
    While learning Scala, I discovered again the love for functional programming and started to learn other FP languages such as Haskell and Elixir. <br />
    But I didn't want to cage myself inside a paradigm, so I don't think that OOP is evil, so I still use it and learn non functional programming languages as Ruby (which I love) <br />
    As of today, I define myself as a full stack developer. In every day work, I mainly use Java and JavaScript.
    If I have to choose, I prefer the back-end of a web application. <br />
    In my personal projects, I prefer to use Scala, Rust and Ruby, and JavaScript only for the front-end.
  </p>
</Section>
