---
import { FaHeart } from 'react-icons/fa/index';

export interface Props {
  name: string;
  url: string;
  like: boolean;
}

const { name, url, like } = Astro.props;
---

<li class="group">
  {like ? <FaHeart className="w-5 inline-block text-red-600" /> : ''}
  <a class="font-semibold hover:underline" href={url}>{name}</a>
</li>
