---
import Header from '../components/Header.astro';
import Body from '../components/Body.astro';
import Head from '../components/Head.astro';

export interface Props {
  content: {
	  title: string;
  }
}

const { content: { title } } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
    <Head title={title} />
	</head>
	<Body>
    <Header />
  </Body>
</html>

