---
import BaseLayout from "./BaseLayout.astro";
import Content from "../components/Content.astro";
import Hero from "../components/Hero.astro";

export interface Props {
  title: string;
  pageTitle: string;
}

const { title, pageTitle } = Astro.props;
---

<BaseLayout title={title}>
  <Hero>
    <div class="mx-auto max-w-2xl py-12">
      <p class="text-5xl font-mplus font-semibold text-center">{pageTitle}</p>
    </div>
  </Hero>
  <Content className="mb-auto flex w-full">
    <slot />
  </Content>
</BaseLayout>
