---
import BaseLayout from "./BaseLayout.astro";
import Hero from "../components/Hero.astro";
import Content from "../components/Content.astro";
import { Image } from '@astrojs/image/components';
import heroImage from '../assets/hero.jpeg';

export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<BaseLayout title={title}>
  <Hero>
    <h1 class="text-6xl">Marco Dalai</h1>
    <Image src={heroImage} alt="Missing image" width={400} height={300} class="rounded-lg hidden md:block" />
  </Hero>
  <Content>
    <slot />
  </Content>
</BaseLayout>
