---
import BaseLayout from "./BaseLayout.astro";
import Hero from "../components/Hero.astro";
import Content from "../components/Content.astro";
import { FaHeart } from 'react-icons/fa/index';

const { frontmatter } = Astro.props;
---

<BaseLayout title={frontmatter.title}>
  <Hero>
    <div class="mx-auto max-w-2xl py-12">
      <p class="text-5xl font-mplus font-semibold text-center group">
        {frontmatter.like && <FaHeart className="text-red-600 inline-block" />}
        {frontmatter.title}
      </p>
    </div>
  </Hero>
  <Content className="mt-2 md:-mt-24">
    <slot />
    <span
      class="underline underline-offset-2 hover:text-orange-500 decoration-orange-500 text-2xl"
    ></span>
  </Content>
</BaseLayout>
